{% extends "Base.html" %}

{% block head %}

    <title>Zahlen Raten: Neues Spiel</title>

{% endblock %}

{% block body %}

    <div class="text-center mb-5" style="min-height: 120px;">
        {% if game.guesses|length > 0 %}

            <h1 class="mb-3">
                Nicht richtig! :(
            </h1>
            <h2>
                <b>{{ (game.guesses|last).guess }}</b> ist
                {% if game.correctGuess > (game.guesses|last).guess %}
                    zu klein!
                {% else %}
                    zu groß!
                {% endif %}
            </h2>

        {% else %}

            <h1>
                Hallo {{ game.name }}!
            </h1>

        {% endif %}
    </div>

    <div>
        <label for="form_number">
            Rate bitte eine Zahl zwischen 1-100:
        </label>
        <form action="guess" method="POST">
            <input type="hidden" name="game_id" value="{{ game.id }}" />
            <input
                type="text"
                class="form-control mb-2"
                name="guessed_number"
                id="form_number"
                pattern="^0*(?:[1-9][0-9]?|100)$"
                placeholder="1 - 100..."
                autofocus
            />
            <input type="submit" class="btn btn-primary" value="Raten" />
        </form>
    </div>

    {% if game.guesses|length > 0 %}
        <div class="m-auto card text-center mt-5">
            <div class="card-header">
                Bisher geratene Zahlen
            </div>
            <div class="card-body p-0">
                <div class="row mx-0">

                    <div class="col-6 border-end bg-less-than p-0 pb-2">
                        <div class="border-bottom mb-2 pt-2" style="background: rgba(0, 0, 0, .05);">
                            <h3 class="mb-2" style="font-size: 1.1rem;">Zu Klein <</h3>
                        </div>
                        {% if game.guesses|selectattr("guess", "lt", game.correctGuess)|list|length > 0 %}
                            {% for guess in game.guesses|selectattr("guess", "lt", game.correctGuess)|sort(attribute="guess") %}
                                {{ guess.guess }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="col-6 bg-greater-than p-0 pb-2">
                        <div class="border-bottom mb-2 pt-2" style="background: rgba(0, 0, 0, .05);">
                            <h3 class="mb-2" style="font-size: 1.1rem;">> Zu Groß</h3>
                        </div>
                        {% if game.guesses|selectattr("guess", "gt", game.correctGuess)|list|length > 0 %}
                            {% for guess in game.guesses|selectattr("guess", "gt", game.correctGuess)|sort(attribute="guess") %}
                                {{ guess.guess }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
