{% extends "Base.html" %}

{% block head %}

    <title>Zahlen Raten: Name bitte</title>

{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="mb-3">Neues Spiel</h1>
    </div>

    <div>
        <label for="form_name" id="form_name_label">
            Gib bitte deinen Namen ein um ein neues Spiel zu starten:
        </label>
        <form action="start" method="POST">
            <input
                type="text"
                class="form-control mb-2"
                name="name"
                id="form_name"
                aria-labelledby="form_name_label"
                placeholder="Name..."
                aria-placeholder="Dein Name"
                required="required"
                aria-required="true"
                autocomplete="off"
                autofocus
            />
            <input type="submit" class="btn btn-primary" value="Absenden" />
        </form>
    </div>

{% endblock %}
