{% extends "Base.html" %}

{% block head %}

    <title>Zahlen Raten: Laufende Spiele</title>

{% endblock %}

{% block body %}

    <div class="text-center mb-5" style="min-height: 120px;">

        <h1 class="mb-3">
            Laufende Spiele
        </h1>

        {% if running_games|length > 0 %}

            <h2>
                Derzeit laufen {{ running_games|length }} unfertige Spiele:
            </h2>

        {% else %}

            <h2>
                Derzeit laufen keine Spiele. Starte hier ein neues:
            </h2>
            <a href="/" class="btn btn-primary">Neues Spiel</a>

        {% endif %}
    </div>

    {% if running_games|length > 0 %}

        <div class="list-group">
            {% for game in running_games %}
                <a href="/game?game_id={{ game.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ game.name }}</div>
                        <div class="text-muted">#{{ game.id }}</div>
                    </div>
                    <span class="badge bg-dark rounded-pill">{{ game.guesses|length }} Versuch{% if game.guesses|length != 1 %}e{% endif %}</span>
                </a>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
