<table class="table table-striped mt-5">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Versuche
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for leaderboard_game in leaderboard %}
            {% if loop.index == 1 %}
                <tr class="table-gold">
            {% elif loop.index == 2 %}
                <tr class="table-silver">
            {% elif loop.index == 3 %}
                <tr class="table-bronze">
            {% else %}
                <tr>
            {% endif %}
                <td>
                    #{{ loop.index }}
                </td>
                <td>
                    {{ leaderboard_game.name }}
                </td>
                <td>
                    {{ leaderboard_game.guesses|length }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
